@font-face {
    font-family: Fallout;
    src: url(./fonts/Overseer.otf);
  }
  @font-face {
    font-family: myFirstFont;
    src: url(./fonts/Overseer\ Bold.otf);
    font-weight: bold;
  }
:root{
    --dark-color:rgb(51,17,17);
    --lighter-dark-color: rgb(85,34,34);
    --greeny-color:rgb(102,85,51);
    --orangy-color:rgb(153,85,51);
    --yellowy-color: rgb(221,204,102)
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

.sutext{
  margin: 0px;
}
.logo {
  height: 100px;
  width: 200px;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position:absolute;
  top: 20%;
  width: 100%;
  height: 150px;
  background-color: rgba(153, 85, 51, 0.3);

}

.container{
display: flex;
flex-direction: row;
margin: 0;
font-family: Fallout;

}

.leftSide{
height: 100vh;
width: 30vw;
background-image: url('images/lol1.jpg');
background-repeat: no-repeat;
background-size: contain;
background-attachment: fixed;
position:relative;


}
.rightSide{
display: flex;
flex-direction: column;
justify-content: center;
height: 100vh;
width: 70vw;
font-size: 26px;
background-color: var(--dark-color);
color: var(--yellowy-color);

}
.form{
display: flex;
width: 70vw;
background-color: var(--orangy-color);
align-items: center;
padding: 50px;
}
button{
height: 5rem;
width: 15rem;
background: var(--greeny-color);
color: var(--yellowy-color);
padding: 8px 16px;
border-radius: 8px;
border: 0;
margin: 10px;

}
input[type=text] , input[type=email], input[type=tel], input[type=password] {
background-color: var(--greeny-color);
box-shadow: 0 0 3px 1px var(--dark-color);
border: 0;
padding: 2px;
margin:2px;
color: var(--yellowy-color);

}
.input{
  display: flex;
  justify-content: space-between;
  width: 350px;
  padding: 2px;
}
.sutext, .bottomtext{
  margin: 10px;
}
input:focus {
  outline-color: var(--yellowy-color);
}
input:hover {
  outline-color: var(--yellowy-color);
  border: 3px;
  border-color: var(--yellowy-color);
}